.header{
    color: #ffffff;
    position: absolute;
    height: 4em;
    width: 100%;

    .navbar{
        height: 100%;

    }

    .navbar-brand {
        color: #ffffff;
    }

    .header-align-right{
        display: flex;
        color: #ffffff;
        height: 4em;
            
        .header-welcome{
            color: #ffffff;
            font-size: 20px;
            margin-top: 6px;
        }

        .header-button{
            color: #ffffff;
        }

        .header-icon{
            color: #ffffff;
            margin-top: 10px;
            height: 32px;
            width: 32px;
        }

    }
    
  
}

.flex{
    display: flex;
    margin-bottom: 0em;
    position: absolute;
    top: 4em;
    bottom: 0em;
    left: 0em;
    right: 0em;
}

.sidebar{
    border-right: 1px solid gray; 
    background-color: #2f6aa5;
    width: 15%; 
    .nav{
        color: #ffffff;
    }

}




.LoginCard{
    position: absolute;
    top: 4em;
    height: 100%;
    width: 100%;

    .card{

        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
    }


}