.header{
    color: #ffffff;
    position: absolute;
    height: 4em;
    width: 100%;

    .navbar{
        height: 100%;

    }

    .navbar-brand {
        color: #ffffff;
    }

    .header-align-right{
        display: flex;
        color: #ffffff;
        height: 4em;
            
        .header-welcome{
            color: #ffffff;
            font-size: 20px;
            margin-top: 6px;
        }

        .header-button{
            color: #ffffff;
        }

        .header-icon{
            color: #ffffff;
            margin-top: 10px;
            height: 32px;
            width: 32px;
        }
    } 
}

.flex{
    display: flex;
    margin-bottom: 0em;
    position: absolute;
    top: 4em;
    bottom: 0em;
    left: 0em;
    right: 0em;
}

.sidebar{
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray; 
    background-color: #2f6aa5;
    width: 15%; 

    .sidebar-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px; 
    }

    .sidebar-footer-text{
        margin-top: 0; 
        margin-bottom: 0;
    }

    .accordion{

        --bs-accordion-bg: #2f6aa5;
        --bs-accordion-transition: none;
        --bs-accordion-border-color: none;
        --bs-accordion-color: #212529;
        --bs-accordion-btn-focus-border-color: none;
        --bs-accordion-active-color: #ffffff;
        --bs-accordion-active-bg: none;
        --bs-accordion-btn-focus-box-shadow: none;
        --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");  
        height: 100%;
    }
    .accordion-header {
        height: 20%;
    }
    
    .custom-accordion-body {
        --bs-accordion-body-padding-y: 0;
    }

    .accordion-item {
        height: auto;

    }

    .accordion-button {
        font-weight: bold;

    }

    .list-group {
        --bs-list-group-bg: none;
        --bs-list-group-border-width: none;
        --bs-list-group-action-hover-bg: none;
        --bs-list-group-action-active-bg: none;
        --bs-list-group-action-hover-color: #ffffff;
    }
}

.LoginCard{
    position: absolute;
    top: 4em;
    height: 100%;
    width: 100%;

    .card{

        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
    }


}

.no-space{

    margin:0;
  }